# Derived files:
# - Maven build area
/target

# IDE/editor files/directories:
# - IntelliJ IDEA project files:
/*.iml
/.idea


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
_hs_err_pid*

